{# templates/rp/showEdit.html.twig #}

{% extends templateTwigParent %}

{% block titreContenu %}
    {{ include('./titreRp.html.twig') }}
{% endblock %}

{% block contenu%}

{% for message in app.flashes('success') %}{# affichera un message de succès si l'action est réussie #}
            <div class="alert alert-success">
                {{ message }}
            </div>
{% endfor %}
</br>

 <!-- Forms Section-->
<!--section class="forms"--> 
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header d-flex align-items-center">

                    <!-- Breadcrumb-->                 
                    <div class="breadcrumb-holder container-fluid">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item active">Description</li>
                            <li class="breadcrumb-item"><a href="{{ path('rpActiviteList', { 'idRp': rp.id }) }}">Activités</a></li>
                            <li class="breadcrumb-item active"><a  href="{{ path('rpProductionList', { 'idRp': rp.id }) }}">Productions</a></li>  
                            <li class="breadcrumb-item active"><a  {% if is_granted('ROLE_ENSEIGNANT') %} href="{{ path('commentaireRpAdd', { 'idRp': rp.id  }) }}" {% else %}  href="{{ path('rpCommentaireNotifierEnseignant', { 'idRp': rp.id }) }}" {% endif %}>Commentaires</a></li>   
                            {% if is_granted('ROLE_ENSEIGNANT') %}<li class="breadcrumb-item active"><a   href="{{ path('rpValider', { 'idRp': rp.id  }) }}"  >Valider</a></li>     {% endif %}   
                        </ul>
                    </div>

                    <!--h3 class="h4">Ajouter ou modifier</h3-->                
                    </div>
                    <div class="card-body">  
                        {{ form_start(form)}}

                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-md-12">
                                            {{ form_row(form.libcourt, {'attr' : {'class' : 'form-control'}}) }} 
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-md-12">
                                            {{ form_row(form.besoin, {'attr' : {'class' : 'form-control'}}) }} 
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-md-3">
                                            {{ form_row(form.localisation, {'attr' : {'class' : 'form-control'}}) }} 
                                        </div>
                                        <div class="col-md-3">
                                            {{ form_row(form.source, {'attr' : {'class' : 'form-control'}}) }} 
                                        </div>
                                        <div class="col-md-3">
                                            {{ form_row(form.cadre, {'attr' : {'class' : 'form-control'}}) }} 
                                        </div>
                                        <div class="col-md-3">
                                            {{ form_row(form.niveauRP, {'attr' : {'class' : 'form-control'}}) }} 
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            {{ form_row(form.dateDebut, {'attr' : {'class' : 'form-control'}}) }} 
                                        </div>
                                        <div class="col-md-6">
                                            {{ form_row(form.dateFin, {'attr' : {'class' : 'form-control'}}) }} 
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                           {{ form_row(form.moyen, {'attr' : {'class' : 'form-control'}}) }} 
                                        </div>
                                        <div class="col-md-6">
                                          {{ form_row(form.environnement, {'attr' : {'class' : 'form-control'}}) }} 
                                           
                                        </div>
                                    </div>
                                </div>                             
                            </div>

                            <!--  ligne de  boutons-->
                            <div class="form-group row">
                                <div class="col-sm-4 offset-sm-4">
                                    <div class="row">
                                        <div class="col-md-3">
                                           {{ form_row(form.cancel, {'attr' : {'class' : 'btn btn-secondary'}}) }}
                                        </div>
                                        <div class="col-md-3">
                                             {{ form_row(form.submit, {'attr' : {'class' : 'btn btn-primary'}}) }}
                                        </div>
                                    </div>
                                </div>                             
                            </div>

                        {{ form_end(form) }}
                     
                    </div>
                </div>
            </div>
        </div>
    </div>
<!--/section-->

{% endblock %}