{% extends "baseEtudiant.html.twig" %}
{% block titreContenu %}Accueil {% endblock %}

{% block contenu%}
</br>
   <div class="col-lg-10">
      <div class="card">


        <div class="card-header d-flex align-items-center">
            <h3 class="h4"><h3 class="h4"> Mes 5 dernières réalisations professionnelles </h3>
        </div>
        <div class="card-body">
            <div class="table-responsive">   
                <table class="table table-striped table-sm">
                    <thead>
                      <tr>
                              <th>Source <span onclick=TableOrder(event,1)>&#9660;</span><span onclick=TableOrder(event,0)>&#9650;</span></th>
                              <th>Libelle<span onclick=TableOrder(event,1)>&#9660;</span><span onclick=TableOrder(event,0)>&#9650;</span></th>
                              <th>Nombre d'activités<span onclick=TableOrder(event,1)>&#9660;</span><span onclick=TableOrder(event,0)>&#9650;</span></th>
                              <th>Date<span onclick=TableOrder(event,1)>&#9660;</span><span onclick=TableOrder(event,0)>&#9650;</span></th>
                              <th>Statut<span onclick=TableOrder(event,1)>&#9660;</span><span onclick=TableOrder(event,0)>&#9650;</span></th>
                             
                      </tr>
                    </thead>
                    <tbody>
                      <!-- on n'affiche que 7 rp -->
                      {% for i in 0..4 %}
                        {% if (app.user.etudiant.rps[i] is defined) and (app.user.etudiant.rps[i].archivage == 0) %}
                          <tr>
                            <th scope="row">{{app.user.etudiant.rps[i].source.libelle}} </th>
                            <td><a class="text" href="{{ path('rpShowEditAdd', { 'idRp': app.user.etudiant.rps[i].id }) }}">{{app.user.etudiant.rps[i].libcourt}}</a></td>
                            <td>{{app.user.etudiant.rps[i].activites.count}}</td>
                            <td>{{app.user.etudiant.rps[i].dateDebut | date("d/m/Y")}}</td>
                            <td>{{app.user.etudiant.rps[i].statut.libelle}} {% if app.user.etudiant.rps[i].statut.id == 2%} de {{app.user.etudiant.rps[i].enseignant.prenom}} {{app.user.etudiant.rps[i].enseignant.nom}} {% endif %}</td>
                
                        {% endif %}
                      {% endfor %}
                    </tbody>
                </table>
            </div>
          </div>
      </div>
    </div>   


      <!!- tableau des stages--> 
  <div class="col-lg-10">
    <div class="card">   
      <div class="card-header d-flex align-items-center">
            <h3 class="h4"><h3 class="h4"> Mes stages </h3>
        </div>
        <div class="card-body">
            <div class="table-responsive">

<table class="table table-striped table-sm">
                          <thead>
                            <tr>
                              <th>nom entreprise</th>
                              <th>Sujet </th>
                              <th>nom tuteur </th>
                              <th>date début</th>
                              <th>date fin</th>
                                <th>Suivi</th>
                            </tr>
                          </thead>
                          <tbody>
                          {% for stage in app.user.etudiant.stages  %}
                            <tr>
                              <th scope="row">{{stage.nomEntreprise}} </th>
                              <td><a class="text" href="{{ path('stageAddEdit', { 'idStage': stage.id }) }}">{{stage.sujet}}</a></td>
                              <td>{{stage.nomTuteur}}</td>
                              <td>{{stage.dateDebut | date("d/m/Y")}}</td>
                              <td>{{stage.dateFin| date("d/m/Y")}}</td>
                              <td>{% if stage.enseignant is null%} A définir {% else %}{{stage.enseignant.prenom}} {{stage.enseignant.nom}}{% endif %}</td>
                            </tr>
                            {% endfor %}
                         </tbody>
                        </table>
            </div>
          </div>
    </div>
  </div>   


{% endblock %}